.search {
  margin: 1rem auto;
  font-size: 3rem;
  display: grid;
  place-items: center;
}

.search label {
  margin: 1rem auto;
  font-weight: bold;
  color: var(--green-color);
}

.search .container {
  background-color: transparent;
  width: 70vw;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: max-content;
}

.search input {
  background: var(--trans-carton-color);
  width: 75%;
  height: 100%;
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: var(--black-color);
  border: 2px solid var(--brown-color);
  outline: none;
}

.search input:focus {
  border: 2px solid var(--brown-color);
  background-color: var(--carton-color);
}
.search .btn {
  background-color: var(--green-color);
  border-radius: 10px;
  height: 100%;
  width: 20%;
  font-size: 2rem;
  color: var(--carton-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search .container {
    flex-direction: column;
  }
  .search button {
    margin: 1rem 0;
  }
}
